#logo {
  width: 200px;
  height: 200px;
}


.row {
  border: 3px solid black;
}

/* header styles */
.header {
  margin-top: 7%;
  padding: 3% 5% 5% 5%;
  text-align: center;
  white-space: nowrap;
}

#header-title {
  font-size: 7vh;
}

#header-sub-title {
  font-size: 3vh;
}

/* search form */
.search-form {
  text-align: center;
  white-space: nowrap;
}
