#logo {
  width: 200px;
  height: 200px;
}

/* 
.row {
  border: 3px solid black;
} */

/* header styles */
.header {
  margin-top: 7%;
  padding: 3% 5% 5% 5%;
  text-align: center;
  white-space: nowrap;
}

#header-title {
  font-size: 7vh;
}

#header-sub-title {
  font-size: 3vh;
}

/* search form */
.search-area {
  text-align: center;
  white-space: nowrap;
}


/* book list styles */
.list {
margin-top: 5%;
}

.card-img {
  width: 20%;
}

.btn {
  margin: 5px;
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
